@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

@media print {
  @page {
    margin: 1cm;
  }
  #root {
    display: none !important;
  }
  body, html {
    background: white !important;
    height: auto !important;
    overflow: visible !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
