@import "tailwindcss";

@media print {
  @page {
    margin: 1cm;
  }
  #root {
    display: none !important;
  }
  body, html {
    background: white !important;
    height: auto !important;
    overflow: visible !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
